# Python environment and cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
biomarker-env/

# Data & Large Files (Already handled by DVC, but as a backup)
data/raw/*.wav
data/raw/*.WAV
data/processed/

# OS and IDE specific
.DS_Store
.vscode/
.idea/

# DVC local state
.dvc/config.local

/gdrive:*

# log
/log

# mlflow
mlruns/
mlflow.db